body {
    background-color: #0d1117;
    color: #d9cfc9;
    height: 100%;
}

.container img {
    width: 100%;
}

/* INDEX FORMS SPACER */
.spacer {
    display:block;
    margin: 50px;
    height: 200px;
    width: 50px;
}

/* ROUTINE FORMS SPACER */
.routine-spacer {
    display:block;
    margin: 50px;
    height: 80px;
    width: 50px;
}

/* Affects metadata on show page */
.routine-meta {
    display: inline;
}

/* FORM STYLING */
.form-body {
    display: flex;
    padding-bottom: 40px;
    height: 100%;
}
.form-form {
    width: 100%;
    max-width: 350px;
    padding: 15px;
    margin: auto;
}

.form-form input {
    margin: 20px auto;
}

.form-lead {
    text-align: center;
}

#asdf {
    color: white;
}