body {
    background-color: #0d1117;
    color: #d9cfc9;
}

.jumbotron {
    background-color: #30363d;
}

.thumbnail img {
    width: 100%;
}

.thumbnail .caption-full {
    padding: 9px;
}

.thumbnail {
    background-color: #30363d;
    color: #d9cfc9;
    padding: 0;
}

.stepImage {
    width: 45%;
    /* height: 100%; */
}

.navbar {
    background-color: #30363d;
}

.well {
    background-color: #30363d;
    color: #d9cfc9;
}

h6 {
    color: #d9cfc9;
}

h4 {
    color: #d9cfc9;
}

.navbar-default {
    color: #d9cfc9;
}

#delete-form {
    display: inline;
}