body {
    background-color: #0d1117;
    color: #d9cfc9;
}

.jumbotron {
    background-color: #30363d;
}

.thumbnail img {
    width: 100%;
}

.thumbnail .caption-full {
    padding: 9px;
}

.thumbnail {
    background-color: #30363d;
    color: #d9cfc9;
    padding: 0;
}

.stepImage {
    width: 45%;
    /* height: 100%; */
}

.navbar {
    background-color: #30363d;
}

.well {
    background-color: #30363d;
    color: #d9cfc9;
}

h6 {
    color: #d9cfc9;
}

h4 {
    color: #d9cfc9;
}

.navbar-default {
    color: #d9cfc9;
}

#delete-form {
    display: inline;
}

#navbarUser {
    color: #fff;
}

/* Provided by bootstrap */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.bd-placeholder-img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}